[submodule "backend"]
	path = backend
	url = git@github.com:collonian/spring-boot-realworld-example-app.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:collonian/vue-realworld-example-app.git
